<!-- ========== HEADER ========== -->
<header class="header flex flex-row justify-between">
  <div class="header-inner">
    {% for item in breadcrumbs %}
      <svg version="1.1" style="width:0.5em;height:0.5em" viewBox="0 0 460 531">
        <polygon class="fill-white" points="0.5,0.5 459.5,265 0.5,530.5 0.5,445 100,265.5 0.5,85.5"/>
      </svg>
      <a href="{{ guideRootUrl }}/{{ item }}">{{ bookConfig.pages[item].title }}</a>
    {% endfor %}
  </div>
  <div class="mr-2">
    <div>
      <a class="btn btn-extra-small btn-primary" href="{{ env.guideRootUrl }}/../v0"><span class="text">v0</span></a>
      {# <a class="btn btn-extra-small btn-light" href="{{ env.guideRootUrl }}/../v1"><span class="text">v1</span></a> #}
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->