{% macro renderSidebar(activePage, items, bookConfig, env, breadcrumbs, itemIdPrefix, level, pageExistsMap) %}
  {% set itemCounter = 0 %}
  {% for item in items %}
    {% set exists = pageExistsMap[item.page] ?? false %}
    {% set isMissing = false %}
    {% set isWip = not exists or (item.status is defined and item.status == 'wip') %}
    {% set pageSlug = item.page|split('/')|last %}
    {% set autoName = pageSlug|replace({'-': ' '})|title %}
    {% set pageTitle = bookConfig.pages[item.page].title ?: autoName %}
    <li id="{{ itemIdPrefix }}_{{ itemCounter }}" class="level-{{ level }}">
      {% if level < 3 and item.children is iterable %}
        <a href="{{ env.guideRootUrl }}/{{ item.page ?? '' }}"
          class="
            btn
            {% if breadcrumbs|last == item.page %} btn-primary {% else %} btn-transparent {% endif %}
            {% if activePage starts with item.page %} expanded {% else %} collapsed {% endif %}
            has-children
            w-full
            level-{{ level }}
            {% if isWip %} is-disabled {% endif %}
            {% if isMissing %} is-missing {% endif %}
          "
          {% if isWip %} tabindex="-1" aria-disabled="true" title="Work in progress" {% endif %}
          {% if isMissing %} tabindex="-1" aria-disabled="true" {% endif %}
        >
          {% if level == 0 %} <span class="icon"><i class="{{ item.icon }}"></i></span> {% endif %}
          <span class="text grow {% if level == 0 %} font-bold {% endif %}">{{ pageTitle }}</span>
        </a>
        <div
          id="{{ itemIdPrefix }}_{{ itemCounter }}_{{ page }}"
          class=""
        >
          <ul class="level-{{ (level+1) }}">
            {{ _self.renderSidebar(
              activePage,
              item.children,
              bookConfig,
              env,
              breadcrumbs,
              itemIdPrefix ~ "_" ~ itemCounter,
              level + 1,
              pageExistsMap
            ) }}
          </ul>
        </div>
      {% else %}
        <a
          href="{{ env.guideRootUrl }}/{{ item.page }}"
          class="
            btn
            {% if activePage starts with item.page %} btn-primary expanded {% else %} btn-transparent collapsed {% endif %}
            w-full
            level-{{ level }}
            {% if isWip %} is-disabled {% endif %}
            {% if isMissing %} is-missing {% endif %}
          "
          {% if isWip %} tabindex="-1" aria-disabled="true" title="Work in progress" {% endif %}
          {% if isMissing %} tabindex="-1" aria-disabled="true" {% endif %}
        >
          {% if level == 0 %} <span class="icon"><i class="{{ item.icon }}"></i></span> {% endif %}
          <span class="text {% if level == 0 %} font-bold {% endif %}">{{ pageTitle }}</span>
        </a>
      {% endif %}
    </li>

    {% set itemCounter = itemCounter + 1 %}
  {% endfor %}
{% endmacro %}

{# https://preline.co/templates/admin/index.html #}

<div class="sidebar" role="dialog" tabindex="-1" aria-label="Sidebar">

  <div class="relative flex flex-col h-full max-h-full pb-10">
    <div class="m-auto mt-2 mb-2">
      <a href="{{ guideRootUrl }}"><img class="logo" src="{{ templateRootUrl }}/assets/images/logo-hubleto-text-vertical.png"/></a>
    </div>
    <div class="m-auto px-6 pt-0 pb-4 text-center">
      <div class="my-2">User guide</div>
    </div>
    <div class="px-3 pb-2">
      <form action="{{ env.guideRootUrl }}/{{ searchPage }}" method="get">
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
            <svg class="shrink-0 size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8" />
              <path d="m21 21-4.3-4.3" />
            </svg>
          </div>
          <input
            type="text"
            name="q"
            class="py-2 ps-10 pe-4 block w-full bg-white border-gray-200 rounded-lg text-sm focus:outline-none focus:border-blue-500 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400"
            placeholder="Search..."
            value="{{ data.query ?? '' }}"
          >
        </div>
      </form>
    </div>
    <div class="sidebar-content mt-4">
      <nav class="hs-accordion-group px-3 w-full flex flex-col flex-wrap" data-hs-accordion-always-open>
        <ul class="flex flex-col space-y-0.5 p-0">
          {{ _self.renderSidebar(page, bookConfig.tableOfContents, bookConfig, env, breadcrumbs, '', 0, pageExistsMap) }}
        </ul>
      </nav>
    </div>
  </div>
</div>
