{% macro renderSidebar(activePage, items, bookConfig, env, breadcrumbs, itemIdPrefix, level) %}
  {% set itemCounter = 0 %}
  {% for item in items %}
    <li id="{{ itemIdPrefix }}_{{ itemCounter }}" class="level-{{ level }}">
      {% if level < 2 and item.children is iterable %}
        <a href="{{ env.guideRootUrl }}/{{ item.page ?? '' }}"
          class="
            btn
            {% if breadcrumbs|last == item.page %} btn-primary {% else %} btn-transparent {% endif %}
            {% if activePage starts with item.page %} expanded {% else %} collapsed {% endif %}
            has-children
            w-full
            {% if level == 1 %} level-1 {% endif %}
            {% if level == 2 %} level-2 {% endif %}
            {% if level == 3 %} level-3 {% endif %}
          "
        >
          {% if level == 0 %} <span class="icon"><i class="{{ item.icon }}"></i></span> {% endif %}
          <span class="text grow {% if level == 0 %} font-bold {% endif %}">
            {% if bookConfig.pages[item.page].title %} {{ bookConfig.pages[item.page].title }} {% else %} <span class="text-slate-400">{{ item.page }}</span> {% endif %}
          </span>
        </a>
        <div
          id="{{ itemIdPrefix }}_{{ itemCounter }}_{{ page }}"
          class=""
        >
          <ul class="level-{{ (level+1) }}">
            {{ _self.renderSidebar(
              activePage,
              item.children,
              bookConfig,
              env,
              breadcrumbs,
              itemIdPrefix ~ "_" ~ itemCounter,
              level + 1
            ) }}
          </ul>
        </div>
      {% else %}
        <a
          href="{{ env.guideRootUrl }}/{{ item.page }}"
          class="
            btn
            {% if activePage starts with item.page %} btn-primary expanded {% else %} btn-transparent collapsed {% endif %}
            w-full
            {% if level == 1 %} level-1 {% endif %}
            {% if level == 2 %} level-2 {% endif %}
            {% if level == 3 %} level-3 {% endif %}
          "
        >
          {% if level == 0 %} <span class="icon"><i class="{{ item.icon }}"></i></span> {% endif %}
          <span class="text {% if level == 0 %} font-bold {% endif %}">
            {% if bookConfig.pages[item.page].title %} {{ bookConfig.pages[item.page].title }} {% else %} <span class="text-slate-400">{{ item.page }}</span> {% endif %}
          </span>
        </a>
      {% endif %}
    </li>

    {% set itemCounter = itemCounter + 1 %}
  {% endfor %}
{% endmacro %}

{# https://preline.co/templates/admin/index.html #}

<div class="sidebar" role="dialog" tabindex="-1" aria-label="Sidebar">

  <div class="relative flex flex-col h-full max-h-full pb-10">
    <div class="m-auto mt-2 mb-2">
      <a href="{{ guideRootUrl }}"><img class="logo" src="{{ templateRootUrl }}/assets/images/logo-hubleto-text-vertical.png"/></a>
    </div>
    <div class="m-auto px-6 pt-0 pb-4 text-center">
      <div class="my-2">User guide</div>
    </div>
    <div class="sidebar-content mt-4">
      <nav class="hs-accordion-group px-3 w-full flex flex-col flex-wrap" data-hs-accordion-always-open>
        <ul class="flex flex-col space-y-0.5 p-0">
          {{ _self.renderSidebar(page, bookConfig.tableOfContents, bookConfig, env, breadcrumbs, '', 0) }}
        </ul>
      </nav>
    </div>
  </div>
</div>
