{% macro renderSidebar(items, env, breadcrumbs, itemIdPrefix) %}
  {% set itemCounter = 0 %}
  {% for item in items %}
    <li class="hs-accordion" id="{{ itemIdPrefix }}_{{ itemCounter }}">
      {% if item.children is iterable %}
        <a href="{{ env.guideRootUrl }}/{{ item.page ?? '' }}"
          class="hs-accordion-toggle"
          aria-expanded="true"
          aria-controls="{{ itemIdPrefix }}_{{ itemCounter }}_{{ page }}"
        >
          {% if item.icon %} <i class="{{ item.icon }}"></i> {% endif %}
          {{ item.title }}

          {# <svg class="hs-accordion-active:block ms-auto hidden size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m18 15-6-6-6 6" />
          </svg>

          <svg class="hs-accordion-active:hidden ms-auto block size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m6 9 6 6 6-6" /> #}
          </svg>
        </a>
        <div
          id="{{ itemIdPrefix }}_{{ itemCounter }}_{{ page }}"
          class="hs-accordion-content {% if item.page in breadcrumbs %} block {% endif %}"
          role="region"
          aria-labelledby="{{ itemIdPrefix }}_{{ itemCounter }}"
        >
          <ul class="hs-accordion-group" data-hs-accordion-always-open>
            {{ _self.renderSidebar(item.children, env, breadcrumbs, itemIdPrefix ~ "_" ~ itemCounter) }}
          </ul>
        </div>
      {% else %}
        <a
          href="{{ env.guideRootUrl }}/{{ item.page }}"
          class="{% if breadcrumbs|last == item.page %} active {% endif %}"
        >
          {% if item.icon %} <i class="{{ item.icon }}"></i> {% endif %}
          {{ item.title }}
        </a>
      {% endif %}
    </li>

    {% set itemCounter = itemCounter + 1 %}
  {% endfor %}
{% endmacro %}

{# https://preline.co/templates/admin/index.html #}

<!-- Sidebar -->
<div id="hs-application-sidebar" class="hs-overlay  [--auto-close:lg]
  hs-overlay-open:translate-x-0
  -translate-x-full transition-all duration-300 transform
  w-[260px] h-full
  hidden
  fixed inset-y-0 start-0 z-[60]
  bg-white border-e border-gray-200
  lg:block lg:translate-x-0 lg:end-auto lg:bottom-0
  dark:bg-neutral-800 dark:border-neutral-700" role="dialog" tabindex="-1" aria-label="Sidebar">

  <div class="relative flex flex-col h-full max-h-full">
    <div class="px-6 pt-4">
      <!-- Logo -->
      <a class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="#" aria-label="Preline">
        CeremonyCRM user guide
      </a>
      <!-- End Logo -->
    </div>

    <!-- Content -->
    <div class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">

      <nav class="hs-accordion-group p-3 w-full flex flex-col flex-wrap" data-hs-accordion-always-open>
        <ul class="flex flex-col space-y-1">
          {{ _self.renderSidebar(bookConfig.tableOfContents, env, breadcrumbs, '') }}

        </ul>
      </nav>
    </div>
    <!-- End Content -->
  </div>
</div>
<!-- End Sidebar -->