{# see WaiBlue\GuideVis\Loader->getPageVars() for the list of available variables #}

<html>
<head>
  {{ elements.htmlHead|raw }}
</head>
<body>
  {{ elements.header|raw }}
  {{ elements.sidebar|raw }}
  <!-- Content -->
  <div class="content">
    {{ content|raw }}
  </div>
  {{ elements.onThisPage|raw }}
  {{ elements.footer|raw }}

  <script src="{{ guideRootUrl }}/node_modules/preline/dist/preline.js"></script>
</body>
</html>